/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 100 [ErrorGuid]
      ,[AppGuid]
      ,[PageURL]
      ,[Message]
      ,[Exception]
      ,[Request]
      ,[URL]
      ,[Form]
      ,[Session]
      ,[CGI]
      ,[Application]
      ,[UserAgent]
      ,[IPAddress]
      ,[CreateDate]
      ,[StatusCode]
      ,[RequestGuid]
      ,[AdditionalFlag]
      ,[Id]
  FROM [AgentStudio].[dbo].[errors]
  WHERE CreateDate > '2017-04-10 00:00:00.000' AND CreateDate < '2017-04-21 00:00:00.000'
  AND IPAddress IN ('82.80.230.228',
'82.80.249.137',
'82.80.249.156',
'82.80.249.159',
'82.80.249.192',
'107.6.137.74 ',
'108.163.224.114',
'173.236.59.21',
'184.154.139.16',
'184.154.139.17',
'184.154.139.18',
'184.154.139.20',
'184.154.139.21',
'184.154.139.22',
'184.154.139.23',
'184.154.139.23',
'184.154.139.24',
'184.154.139.25',
'184.154.139.46',
'184.154.139.47',
'184.154.139.48',
'184.154.139.49',
'184.154.139.50',
'184.154.139.51',
'184.154.139.53',
'184.154.139.54',
'184.154.164.186',
'184.154.196.90',
'184.154.196.90',
'184.154.248.106',
'184.154.249.74',
'184.154.36.164',
'184.154.36.166',
'184.154.36.167',
'184.154.36.167',
'184.154.36.168',
'184.154.36.172',
'184.154.36.173',
'184.154.36.175',
'184.154.36.176',
'184.154.36.178',
'184.154.36.179',
'184.154.36.181',
'45.34.153.162',
'67.212.162.101',
'67.212.188.154',
'69.175.59.186',
'216.218.222.1',
'45.32.129.20',
'104.192.169.23',
'192.243.53.51',
'162.251.238.92',
'162.251.238.92',
'158.69.229.6',
'74.220.158.4',
'208.87.237.201',
'104.207.150.177',
'64.246.161.190',
'104.156.230.231',
'199.46.124.12',
'163.172.67.180',
'91.228.236.10',
'203.66.57.176',
'69.175.67.58',
'69.175.59.187',
'184.154.36.180',
'184.154.36.186',
'184.154.36.174',
'184.154.139.47',
'184.154.36.185',
'184.154.36.182',
'184.154.36.184',
'46.161.9.24',
'188.143.232.10',
'188.143.232.19',
'188.143.232.62',
'188.143.232.26',
'188.143.232.43',
'188.143.232.62',
'95.37.162.241',
'128.204.38.29',
'45.55.232.76',
'173.242.117.250',
'157.55.39.44',
'207.46.13.162',
'144.76.74.43',
'144.76.15.235',
'176.9.58.227',
'5.9.156.11',
'5.9.83.211',
'5.9.98.130',
'5.9.98.173',
'213.254.241.4',
'125.99.236.2',
'94.23.0.221',
'185.31.162.245',
'125.64.94.206',
'103.76.15.23',
'120.52.73.97',
'180.76.15.138',
'131.161.10.194',
'131.161.10.195',
'131.161.10.196',
'131.161.10.197',
'131.161.10.198',
'131.161.10.199',
'131.161.10.202',
'131.161.10.203',
'131.161.10.204',
'131.161.10.205',
'131.161.10.206',
'131.161.10.211',
'131.161.10.212',
'131.161.10.213',
'131.161.10.214',
'131.161.10.217',
'131.161.10.218',
'131.161.10.219',
'131.161.10.221',
'131.161.10.222',
'131.161.10.223',
'131.161.10.224',
'131.161.10.225',
'131.161.10.226',
'131.161.10.229',
'131.161.10.230',
'131.161.10.231',
'131.161.10.232',
'131.161.10.234',
'131.161.10.236',
'131.161.10.237',
'131.161.10.240',
'131.161.10.242',
'131.161.10.244',
'131.161.10.245',
'131.161.10.246',
'131.161.10.247',
'131.161.10.248',
'131.161.10.249',
'131.161.10.250',
'131.161.10.251',
'131.161.10.252',
'131.161.10.253',
'131.161.11.195',
'131.161.11.196',
'131.161.11.197',
'131.161.11.198',
'131.161.11.199',
'131.161.11.200',
'131.161.11.202',
'131.161.11.204',
'131.161.11.205',
'131.161.11.206',
'131.161.11.207',
'131.161.11.208',
'131.161.11.209',
'131.161.11.210',
'131.161.11.211',
'131.161.11.212',
'131.161.11.213',
'131.161.11.214',
'131.161.11.215',
'131.161.11.216',
'131.161.11.217',
'131.161.11.218',
'131.161.11.219',
'131.161.11.220',
'131.161.11.221',
'131.161.11.222',
'131.161.11.223',
'131.161.11.224',
'131.161.11.227',
'131.161.11.228',
'131.161.11.230',
'131.161.11.231',
'131.161.11.233',
'131.161.11.235',
'131.161.11.236',
'131.161.11.238',
'131.161.11.240',
'131.161.11.241',
'131.161.11.242',
'131.161.11.243',
'131.161.11.244',
'131.161.11.245',
'131.161.11.246',
'131.161.11.248',
'131.161.11.249',
'131.161.11.250',
'131.161.11.251',
'131.161.11.253',
'131.161.8.194',
'131.161.8.195',
'131.161.8.196',
'131.161.8.197',
'131.161.8.199',
'131.161.8.200',
'131.161.8.202',
'131.161.8.203',
'131.161.8.204',
'131.161.8.207',
'131.161.8.208',
'131.161.8.210',
'131.161.8.211',
'131.161.8.214',
'131.161.8.215',
'131.161.8.216',
'131.161.8.217',
'131.161.8.218',
'131.161.8.219',
'131.161.8.220',
'131.161.8.221',
'131.161.8.222',
'131.161.8.224',
'131.161.8.227',
'131.161.8.228',
'131.161.8.229',
'131.161.8.230',
'131.161.8.234',
'131.161.8.237',
'131.161.8.238',
'131.161.8.240',
'131.161.8.241',
'131.161.8.242',
'131.161.8.243',
'131.161.8.244',
'131.161.8.245',
'131.161.8.246',
'131.161.8.247',
'131.161.8.248',
'131.161.8.249',
'131.161.8.250',
'131.161.8.251',
'131.161.8.252',
'131.161.9.194',
'131.161.9.195',
'131.161.9.197',
'131.161.9.198',
'131.161.9.199',
'131.161.9.200',
'131.161.9.201',
'131.161.9.202',
'131.161.9.203',
'131.161.9.204',
'131.161.9.206',
'131.161.9.207',
'131.161.9.208',
'131.161.9.209',
'131.161.9.210',
'131.161.9.212',
'131.161.9.214',
'131.161.9.215',
'131.161.9.217',
'131.161.9.218',
'131.161.9.220',
'131.161.9.221',
'131.161.9.223',
'131.161.9.224',
'131.161.9.226',
'131.161.9.229',
'131.161.9.230',
'131.161.9.232',
'131.161.9.233',
'131.161.9.234',
'131.161.9.235',
'131.161.9.238',
'131.161.9.239',
'131.161.9.242',
'131.161.9.243',
'131.161.9.245',
'131.161.9.246',
'131.161.9.249',
'131.161.9.250',
'131.161.9.251',
'131.161.9.252',
'131.161.9.253',
'27.147.226.85')
ORDER BY CreateDate DESC