/* TEMPLATE FOR DOING USEFUL STUFF SAFELY */
BEGIN TRAN
BEGIN TRY


    /* DO USEFUL STUFF HERE */

  	SELECT TOP 1000 *
  	FROM 	AgentStudio.Sites.Config
  	WHERE 	Email = 'photolazz@comcast.net';

	UPDATE 	AgentStudio.Sites.Config
	SET 	TravefyAccessToken	= 'f4384426489f48af8aca19356bf98291',
			TravefyPublicKey	= '2dd86190336642e6a737c55a376691be'
			TravefyUserId		= '665868'
	WHERE 	Email = 'photolazz@comcast.net';

	SELECT TOP 1000 *
  	FROM 	AgentStudio.Sites.Config
  	WHERE 	Email = 'photolazz@comcast.net';



     /* LEAVE UNCOMMENTED UNTIL YOU ARE SURE THE USEFUL STUFF WORKS THEN -- AND ONLY THEN -- COMMENT IT OUT */
    	ROLLBACK TRAN

    /* UNCOMMENT ONLY WHEN YOU ARE SURE THE USEFUL STUFF WORKS */
    --	COMMIT TRAN


END TRY
BEGIN CATCH
    ROLLBACK TRAN
    /* WHEN AN ERROR OCCURS SHOULD TELL YOU WHERE IN THE USEFUL STUFF THE ERROR HAPPENED SOME DETAIL ABOUT WHY IT SOILED ITSELF */
    PRINT 'AT LINE: ' + CAST(ERROR_LINE() AS varchar(10));
    PRINT ERROR_MESSAGE();
END CATCH
