/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [SiteAliasGUID]
      ,[AppGUID]
      ,[DomainName]
      ,[IsPrimary]
      ,[IsDefault]
  FROM [AgentStudio].[dbo].[site_aliases]
  WHERE AppGUID IN ('8C79F55B-D99F-E311-95BD-0050568E420D',
'EA3EFDB7-1AED-E411-8B9F-0050568E420D',
'72584F48-EDA7-E311-95BD-0050568E420D',
'112A7129-D61A-E511-8B9F-0050568E420D',
'0DAEED50-959B-E411-BE9B-0050568E420D',
'F40EBAD8-EEC0-E311-95BD-0050568E420D',
'E67EFBB6-1912-E611-8B9F-0050568E420D',
'AC278352-37D0-E511-8B9F-0050568E420D',
'3C3BE550-78DC-E311-95BD-0050568E420D',
'A530A33D-E8B4-E511-8B9F-0050568E420D',
'9A825B5C-0DFC-E511-8B9F-0050568E420D',
'ED9F62C1-D8C1-E311-95BD-0050568E420D',
'BC8B534F-128A-E311-95BD-0050568E420D',
'3A2FABB0-2EB4-E611-9AA9-0050568E420D',
'48E4E830-4989-E311-95BD-0050568E420D',
'B5B067FE-1364-E611-A9D3-0050568E420D',
'9620BCA6-2D78-E511-8B9F-0050568E420D',
'6A2E99E3-EAD7-E411-8B9F-0050568E420D',
'C7E241B3-62D1-E411-8B9F-0050568E420D',
'38199A99-9C08-E411-95BD-0050568E420D',
'A2D3197F-44EA-E511-8B9F-0050568E420D',
'8BD7534F-1BFC-E511-8B9F-0050568E420D',
'33203816-9CE1-E511-8B9F-0050568E420D',
'F7782DE8-FA3A-E611-932B-0050568E420D',
'2D4271A9-7A23-E611-8B9F-0050568E420D',
'3725E395-3740-E511-8B9F-0050568E420D',
'25EEFD75-9439-E711-80F5-005056013017',
'861CE8CE-2B7B-E411-BE9B-0050568E420D',
'5C40E38A-FEF1-E611-9AA9-0050568E420D',
'EE377973-A3A2-E511-8B9F-0050568E420D',
'931D2A94-A6CC-E311-95BD-0050568E420D',
'7E93E8D9-56BB-E611-9AA9-0050568E420D',
'CAD4C4CD-3E5F-E611-A9D3-0050568E420D',
'7641690B-F93D-E511-8B9F-0050568E420D',
'2ECA34D9-29D6-E311-95BD-0050568E420D',
'E863A776-FB10-E711-9AA9-0050568E420D',
'BD2ACE5E-09EA-E511-8B9F-0050568E420D',
'43D686D9-C5F9-E411-8B9F-0050568E420D',
'0AA936C8-447F-E611-A9D3-0050568E420D',
'617DE9DE-D6D7-E411-8B9F-0050568E420D',
'7058DB16-2BAC-E611-9AA9-0050568E420D',
'ADE760B3-D7A6-E511-8B9F-0050568E420D',
'88F93431-D360-E511-8B9F-0050568E420D',
'7D83DDA5-7139-E711-80F5-005056013017',
'94E355B5-F674-E311-95BD-0050568E420D',
'1CAB3D80-73D8-E411-8B9F-0050568E420D',
'53E512FD-44C0-E311-95BD-0050568E420D',
'1A9DCD56-5CBB-E611-9AA9-0050568E420D',
'56140C0B-83CB-E511-8B9F-0050568E420D',
'3CA3E9C5-EBB0-E611-9AA9-0050568E420D',
'F890BE68-0679-E511-8B9F-0050568E420D',
'2A32F5B0-1CB9-E311-95BD-0050568E420D',
'5AFF1F19-A979-E511-8B9F-0050568E420D',
'E53AC67A-A6E3-E611-9AA9-0050568E420D',
'BA5B3891-FCC4-E311-95BD-0050568E420D',
'9F4EFFBB-8AA6-E411-BE9B-0050568E420D',
'49CA1694-DCA2-E611-9AA9-0050568E420D',
'0ACA5618-F94C-E611-932B-0050568E420D',
'0A090582-70DC-E311-95BD-0050568E420D',
'58719217-5B81-E411-BE9B-0050568E420D',
'57E24334-66C7-E611-9AA9-0050568E420D',
'8EF6C253-0813-E711-9AA9-0050568E420D',
'8D9B506C-525F-E611-A9D3-0050568E420D',
'1C5D6A6D-4336-E411-8E29-0050568E420F',
'8F01900C-7F3E-E411-95BD-0050568E420D',
'B027C82F-ABCB-E311-95BD-0050568E420D',
'EE377973-A3A2-E511-8B9F-0050568E420D',
'C128F9A8-CEF1-E511-8B9F-0050568E420D',
'2B7CA7B0-86E7-E511-8B9F-0050568E420D',
'24AA33C9-2A13-E711-9AA9-0050568E420D',
'C115A26F-137E-E311-95BD-0050568E420D',
'A8BC4444-64BB-E611-9AA9-0050568E420D',
'15A0C094-C17C-E311-95BD-0050568E420D',
'298FE0B3-9B7E-E611-A9D3-0050568E420D',
'F56511C8-5833-E411-95BD-0050568E420D',
'2D2E74A7-E602-E411-95BD-0050568E420D',
'5354FCCA-5416-E611-8B9F-0050568E420D',
'31743637-9205-E511-8B9F-0050568E420D',
'40157CD3-AFFE-E411-8B9F-0050568E420D',
'E5E6E641-A812-E411-95BD-0050568E420D',
'6CD8C9D1-9335-E511-8B9F-0050568E420D',
'0F3A1C26-FCA8-E611-9AA9-0050568E420D',
'16D8F3F0-20DD-E611-9AA9-0050568E420D',
'B73B4176-AEF2-E511-8B9F-0050568E420D',
'C4A85A89-102A-E311-95BD-0050568E420D',
'7C638C4D-13AD-E611-9AA9-0050568E420D',
'50F60653-09CA-E511-8B9F-0050568E420D',
'CF7D96B6-28BA-E511-8B9F-0050568E420D',
'9CEEAE2E-7EB8-E311-95BD-0050568E420D',
'5409B302-74FB-E511-8B9F-0050568E420D',
'73557192-1BC2-E411-8B9F-0050568E420D',
'05DB088C-7B9E-E311-95BD-0050568E420D',
'12A86AD8-9909-E711-9AA9-0050568E420D',
'670122ED-66CF-E511-8B9F-0050568E420D',
'3BDD0F30-742D-E411-95BD-0050568E420D',
'048741E3-8982-E511-BC45-0050568E420F',
'1E10F598-C72F-E511-8B9F-0050568E420D',
'BBDE3EB3-D69B-E611-9AA9-0050568E420D',
'A91F7806-2D5F-E611-A9D3-0050568E420D',
'3B2E1BCA-8A10-E611-8B9F-0050568E420D',
'8BE81B87-ADDC-E411-8B9F-0050568E420D',
'386CCB62-427D-E411-BE9B-0050568E420D',
'AA1504A5-F6DE-E411-8B9F-0050568E420D',
'E5FCF89C-BDBC-E411-8B9F-0050568E420D',
'537A4083-8877-E611-A9D3-0050568E420D',
'23115940-C824-E411-95BD-0050568E420D',
'3AF9B664-033A-E411-95BD-0050568E420D',
'78762EB9-2C21-E611-8B9F-0050568E420D',
'C2EA1CF3-997A-E611-A9D3-0050568E420D',
'B8D7E6D0-C207-E411-95BD-0050568E420D',
'D243A6E4-5DB1-E311-95BD-0050568E420D',
'E26492E8-73DB-E611-9AA9-0050568E420D',
'B063B426-66B1-E411-8B9F-0050568E420D',
'0A8343B7-EE8C-E611-AACC-0050568E420F',
'7F7FB993-A3C9-E411-8B9F-0050568E420D',
'3851305D-6494-E311-95BD-0050568E420D',
'FFB900D3-BB0E-E411-95BD-0050568E420D',
'23F7D3A1-9039-E611-932B-0050568E420D',
'87A873A2-910A-E711-9AA9-0050568E420D',
'7B81121D-0FC4-E411-8B9F-0050568E420D',
'0C7E1002-AA4D-E411-95BD-0050568E420D',
'15876454-F9C1-E311-95BD-0050568E420D',
'DD16A965-C3BB-E511-8B9F-0050568E420D',
'4EE4ADD3-3831-E411-95BD-0050568E420D',
'8FBF2139-A612-E411-95BD-0050568E420D',
'CF51509A-705D-E511-8B9F-0050568E420D',
'A68A8C78-08EB-E411-8B9F-0050568E420D',
'C6AAD2B1-C0AB-E611-9AA9-0050568E420D',
'B977491C-D094-E511-8B9F-0050568E420D',
'E9C0A5FB-E248-E411-95BD-0050568E420D',
'D2269466-295C-E511-8B9F-0050568E420D',
'90F0DD17-2BFE-E411-8B9F-0050568E420D',
'5B3201EC-48A8-E511-8B9F-0050568E420D',
'E7BF1ED8-7504-E711-9AA9-0050568E420D',
'02814685-01EE-E411-8B9F-0050568E420D',
'14D83A6E-E636-E411-95BD-0050568E420D',
'02C0B637-B75C-E511-8B9F-0050568E420D',
'A597BA39-C7E2-E411-8B9F-0050568E420D',
'247BDA54-298A-E511-8B9F-0050568E420D',
'D78C867F-3CB9-E311-95BD-0050568E420D',
'7E4EAF28-BE6C-E611-A9D3-0050568E420D',
'A0941C8E-2E94-E311-95BD-0050568E420D',
'AB085FEC-F0AF-E511-8B9F-0050568E420D',
'2CD01023-60EC-E511-8B9F-0050568E420D',
'CF83A859-0BEB-E411-8B9F-0050568E420D',
'8EF6C253-0813-E711-9AA9-0050568E420D',
'220840AC-6316-E711-9AA9-0050568E420D',
'07A244AA-C748-E411-95BD-0050568E420D',
'C7062B5F-DB7D-E611-A9D3-0050568E420D',
'7C967B8B-FDB9-E411-8B9F-0050568E420D',
'88C6DA20-9BB2-E611-9AA9-0050568E420D',
'1C512ADF-5FFD-E611-9AA9-0050568E420D',
'C6AAD2B1-C0AB-E611-9AA9-0050568E420D',
'C3ED213F-F1B0-E611-9AA9-0050568E420D',
'5E46F51A-E681-E311-95BD-0050568E420D',
'EE377973-A3A2-E511-8B9F-0050568E420D',
'CEE78EC9-D99F-E311-95BD-0050568E420D',
'BC8A710A-C411-E411-95BD-0050568E420D',
'8D18A4D4-96E8-E411-8B9F-0050568E420D',
'32F1E32A-BEE8-E611-9AA9-0050568E420D',
'EB0623E0-F9B5-E411-8B9F-0050568E420D',
'15305340-42F4-E411-8B9F-0050568E420D',
'74BD03CC-498A-E511-8B9F-0050568E420D',
'F5A80D82-AAB0-E411-8B9F-0050568E420D',
'12DC0DFC-2F6E-E511-8B9F-0050568E420D',
'86CAA272-3D89-E311-95BD-0050568E420D',
'E4CB1EC5-6F5D-E511-8B9F-0050568E420D',
'682D8166-6BE9-E611-9AA9-0050568E420D',
'EAD16E9C-1EE6-E411-8B9F-0050568E420D',
'248E7889-A41E-E511-8B9F-0050568E420D',
'B32EF633-0F82-E311-95BD-0050568E420D',
'65DE1B10-A9F1-E411-8B9F-0050568E420D',
'5019B8DB-9A0B-E411-95BD-0050568E420D',
'B4DCF0F7-B4CA-E511-8B9F-0050568E420D',
'1050ED49-15FC-E511-8B9F-0050568E420D',
'0FB246B2-338C-E311-95BD-0050568E420D',
'8A37CC7C-BC13-E611-8B9F-0050568E420D',
'40251FF0-6740-E411-95BD-0050568E420D',
'5A9AD9C8-D04E-E611-932B-0050568E420D',
'F9190C61-DDF1-E511-8B9F-0050568E420D',
'B6ECAFE1-B3FB-E311-95BD-0050568E420D',
'934EF1A1-6AE5-E511-8B9F-0050568E420D',
'8DA063A5-B0C9-E311-95BD-0050568E420D',
'C9A63EFB-5070-E511-8B9F-0050568E420D',
'59B0A238-09A7-E311-95BD-0050568E420D',
'84BB06FB-6FC6-E311-95BD-0050568E420D',
'6776A087-9710-E611-8B9F-0050568E420D',
'B0AEAD75-96D2-E611-9AA9-0050568E420D',
'3F48BD29-BE34-E511-8B9F-0050568E420D',
'C90F4552-28DF-E511-8B9F-0050568E420D',
'5B95AE86-7FCA-E311-95BD-0050568E420D',
'4C39B19C-1C4F-E511-8B9F-0050568E420D',
'854F5F16-AD98-E611-9AA9-0050568E420D',
'20E16C26-A47C-E311-95BD-0050568E420D',
'7F94E420-4F4A-E411-95BD-0050568E420D',
'4EAEA4E5-01E2-E311-95BD-0050568E420D',
'BE34DD29-1676-E611-A9D3-0050568E420D',
'1FB73B15-13E1-E311-95BD-0050568E420D',
'2089B5AA-5E2A-E411-95BD-0050568E420D',
'4550D70A-39EE-E611-9AA9-0050568E420D',
'EEB4ECC1-C207-E411-95BD-0050568E420D',
'B29071A1-2038-E611-932B-0050568E420D',
'F14C9570-D82E-E711-80F4-005056013017',
'73B7E100-40B6-E511-8B9F-0050568E420D',
'CB282977-0E84-E511-8B9F-0050568E420D',
'0F51E495-4ED6-E411-8B9F-0050568E420D',
'2525D53A-DC51-E511-8B9F-0050568E420D',
'76C03E60-0FFE-E311-95BD-0050568E420D',
'69D59CC5-12C5-E311-95BD-0050568E420D',
'09C00103-96D1-E411-8B9F-0050568E420D',
'87AD9727-8901-E711-9AA9-0050568E420D',
'E69A96E7-AE75-E411-95BD-0050568E420D',
'A5F2A2D3-B5A5-E411-BE9B-0050568E420D',
'EB6CEAC3-8BD1-E411-8B9F-0050568E420D',
'32CFBE03-F2DF-E411-8B9F-0050568E420D',
'931A0D1B-E2DA-E311-95BD-0050568E420D',
'7D1183C6-6CAF-E311-95BD-0050568E420D',
'ADA99FB1-E9E7-E511-8B9F-0050568E420D',
'6515BACA-DAA8-E411-BE9B-0050568E420D',
'791BE924-8B35-E711-80F4-005056013017',
'66B65B49-2195-E311-95BD-0050568E420D',
'95E413EF-8E00-E411-95BD-0050568E420D',
'035F543E-1D45-E511-8B9F-0050568E420D',
'BC667B9A-DCC5-E511-8B9F-0050568E420D',
'8267ED8F-7CED-E611-9AA9-0050568E420D',
'FF49590C-33BD-E311-95BD-0050568E420D',
'9833A15B-AB9D-E411-BE9B-0050568E420D',
'636B59B0-B8AD-E511-8B9F-0050568E420D',
'372D4BB6-5F68-E411-95BD-0050568E420D',
'4EEAF3ED-82E1-E511-8B9F-0050568E420D',
'9056CD70-714F-E611-932B-0050568E420D',
'C1A6F6CB-9AA5-E511-8B9F-0050568E420D',
'243324EA-1D85-E311-95BD-0050568E420D',
'CA820560-66FE-E311-95BD-0050568E420D',
'3B37253F-8328-E711-9AA9-0050568E420D',
'F5E307DA-3CCF-E411-8B9F-0050568E420D',
'0E632616-53B7-E611-9AA9-0050568E420D',
'61CBE057-E936-E411-95BD-0050568E420D',
'917ED6FB-4A79-E311-95BD-0050568E420D',
'64ABB4D9-D642-E711-80F5-005056013017',
'FFA8CE35-07E7-E611-9AA9-0050568E420D',
'549A9B2C-3BD1-E611-9AA9-0050568E420D',
'0377C6C9-E7E7-E511-8B9F-0050568E420D',
'DB6188E7-7560-E411-95BD-0050568E420D',
'7984D0EE-73A6-E411-BE9B-0050568E420D',
'D4A5006F-2FBA-E511-8B9F-0050568E420D',
'023F5231-4F2F-E511-8B9F-0050568E420D',
'05D0986F-6994-E311-95BD-0050568E420D',
'D9C61A96-8AE1-E511-8B9F-0050568E420D',
'819607D8-F7ED-E411-8B9F-0050568E420D',
'C7A8A67E-7491-E611-9AA9-0050568E420D',
'DFC2EB4B-3087-E511-8B9F-0050568E420D',
'BBDE3EB3-D69B-E611-9AA9-0050568E420D',
'EE157AE9-19F6-E611-9AA9-0050568E420D',
'7E882D54-3BF5-E511-8B9F-0050568E420D',
'082B129A-8C21-E511-8B9F-0050568E420D',
'E34E9D8C-DE3E-E611-932B-0050568E420D',
'42D49271-048A-E311-95BD-0050568E420D',
'73B7E100-40B6-E511-8B9F-0050568E420D',
'20397D7A-50F9-E611-9AA9-0050568E420D',
'8EF6C253-0813-E711-9AA9-0050568E420D',
'C8545CE6-27AB-E311-95BD-0050568E420D',
'392092C9-14E7-E611-9AA9-0050568E420D',
'90CCDE63-D3CB-E511-8B9F-0050568E420D',
'DE5AA96E-1F84-E511-8B9F-0050568E420D',
'263938FA-27AB-E311-95BD-0050568E420D',
'A0787E76-08D3-E411-8B9F-0050568E420D',
'DE585153-2B7B-E411-BE9B-0050568E420D',
'F108CD5C-D417-E611-8B9F-0050568E420D',
'EA0F5810-C789-E611-9AA9-0050568E420D',
'A95FED07-2F95-E311-95BD-0050568E420D',
'1764E74A-52CA-E411-8B9F-0050568E420D',
'4491D300-C4FD-E411-8B9F-0050568E420D',
'65E7D07C-86A5-E311-95BD-0050568E420D',
'737E9E88-55BB-E311-95BD-0050568E420D',
'F7A06F85-994B-E611-932B-0050568E420D',
'B8150CCB-4236-E411-8E29-0050568E420F',
'70D22681-FFF1-E611-9AA9-0050568E420D',
'14170328-BA79-E611-A9D3-0050568E420D',
'6E626C1A-C1AD-E611-9AA9-0050568E420D',
'88625EC3-C4E6-E411-8B9F-0050568E420D',
'D1AC5FC5-C0A8-E411-BE9B-0050568E420D',
'5E952C6D-4F38-E411-95BD-0050568E420D',
'D11CEE50-79CA-E311-95BD-0050568E420D',
'21C26F34-0130-E611-932B-0050568E420D',
'340D8C5C-471D-E611-8B9F-0050568E420D',
'1A791834-4319-E611-8B9F-0050568E420D',
'B5D2428E-0875-E411-95BD-0050568E420D',
'076E22FB-7447-E511-8B9F-0050568E420D',
'6327D295-B799-E311-95BD-0050568E420D',
'573890B2-7928-E611-8B9F-0050568E420D',
'A64A5819-73D5-E511-8B9F-0050568E420D',
'A65C41AE-6DC6-E311-95BD-0050568E420D'
)